{
  "extends": "eslint:recommended",
  "plugins": [
    "angular"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  }
}
