<!doctype html>
<html class="no-js" lang="en" ng-app="<%= webpackConfig.metadata.app %>" ng-strict-di>
  <head>
    <title><%= webpackConfig.metadata.title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <base href="<%= webpackConfig.metadata.baseUrl %>">
  </head>
  <body ng-cloak>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-init="test = {}">
      <input type="text" ng-model="test.place_text" px-google-maps-places-autocomplete="{'componentRestrictions':{'country':'us'},'types':['(regions)']}" place-model="test.place" place-id-model="test.place_id" style="width: 300px;">

      <pre>{{test | json}}</pre>
    </div>

<% if (webpackConfig.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
<% } %>
  </body>
</html>
